header,main,footer{
    width:900px;
    margin:0 auto;
}

section, aside{
    float: left;
}

section{
    width: 560px;
}

section article{
    height: 50vh;
}

section article figure{
    position: relative;
}

section article figure video {
    display: block;
    margin: 0 auto;
    width:100%;
}

section article figure .controls{
    margin: 0;
    padding:0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

section article figure .controls.fullscreen{
    width:480px;
    margin:0 auto;
    bottom: 1em;
    padding:10px;
}

section article figure .controls li
{
    float: left;
    list-style: none;
}

section article figure .controls li button
{
    border: none;
    background-color: transparent;
    color: #fff;
}

section article figure .controls li progress{
    width: 300px;
}

aside {
    width: 315px;
    margin-left: 25px;
    position: relative;
}
aside nav{
    margin-top: 40px;
    position: fixed;
    width: 315px;
}

/******************************************************************
    Helper Classes
******************************************************************/

/* fix for float */
.group:before,
.group:after {
    content: "";
    display: table;
    clear: both;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.show {
    display: block !important;
}
.hidden {
    display: none !important;
}